<% layout('/layouts/boilerplate.ejs') -%>

<body>
    <h3 class="text-center"><%=listing.title %></h3>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-2 my-2">
          <div class="card listing-card" style="width:70%">
            <img class="card-img-top" src="<%=listing.image%>" alt="Card image cap" style="height:22rem">
            <div class="card-body">
              <p class="card-text"> <%=listing.description %> </p>
              <p class="card-text">&#8377; <%=listing.price %></p>
              <p class="card-text"><%=listing.location %></p>
              <p class="card-text"><%=listing.country %></p>
             
            </div>
          </div>
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-success">Edit </a>
          <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
            <button class="mt-2 btn btn-danger">Delete</button>
          </form>
        </div>
       <hr/>
        <div class="row review mt-2">
          <div class="col-12 col-md-10 offset-md-2">
            <h4>Reviews</h4>
            <form action="/listings/<%=listing.id%>/reviews" method="post" class="needs-validation" novalidate>
              <div>
                <label for="rating" class="form-label">Rating</label>
                <input type="range" name="review[rating]" id="rating"  min="1" max="5" class="form-range">
              </div>
              <div>
                <label for="comment" class="form-label">Comment</label><br/>
                <textarea type="text" name="review[comment]" id="comment" rows="4" class="form-control" required></textarea>
                <div class="invalid-feedback">
                  Please write a comment.
                </div>
              </div>
              <button type="submit" class="btn btn-success mt-2">Submit</button>
            </form>

            <hr>
            <h5>All Reviews</h5>
            <div class="row">

            <% for(review of listing.review){ %>
              <div class="card col-6 p-3">
                <div class="card-body">
                  <div class="card-title">Jan Doe</div>
                  <p class="card-text">  <%= review.comment %> </p>
                  <p class="card-text"><%= review.rating %> star</p>
                </div>

              </div>
              <% } %>
              </div>
        
          </div>
         
        </div>
      </div>
    </div>
    <ul>
    
     
   
</body>
